:root {
  --bg1: #222831;
  --bg2: #31363F;
  --bg3: #54bbc1;
  --bg4: #EEEEEE;
  --bg-light: white;
  --bg-dark: black;
  --bg-transparent: #22283153;
  --gradient1: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  --gradient2: linear-gradient(to right, #b92b27, #1565c0);
  --gradient3: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  --gradient4: linear-gradient(to right, #1f4037, #99f2c8);
  --gradient5: linear-gradient(to right, #f12711, #f5af19);
  --gradient6: linear-gradient(to right, #159957, #155799);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: var(--bg3);
  background-clip: padding-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: var(--bg-light);
  background-color: var(--bg1);
  opacity: 0.8;
  background-image:  radial-gradient(var(--bg4) 0.5px, transparent 0.5px), radial-gradient(var(--bg4) 0.5px, var(--bg1) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  /* Common tags */
  input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--bg4);
    outline: none;
    color: inherit;
    background-color: inherit;
  }

  a, .link {
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    color: var(--bg3);
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  button {
    border: solid 1px var(--bg-light);
    padding: 10px;
    background-color: var(--bg3);
    color: var(--bg-light);
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
  border-radius: 5px;
}

.gradientbg1 {
  background-image: var(--gradient1);
}
.gradientbg2 {
  background-image: var(--gradient2);
}
.gradientbg3 {
  background-image: var(--gradient3);
}
.gradientbg4 {
  background-image: var(--gradient4);
}
.gradientbg5 {
  background-image: var(--gradient5);
}
.gradientbg0 {
  background-image: var(--gradient6);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  width: 30px;
  cursor: pointer;
}

.w-fc {
  width: fit-content;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: 10px;
  height: 100vh;
  max-width: 1280px;
}

/* Navigation menu */
.navbar {
  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px 10px;
    background-color: var(--bg2);
  }

  #navLeft {
    justify-content: center;
    #logo {
      font-size: 20px;
      font-weight: bold;
    }
  }

  #navRight {
    margin: auto 0 auto auto;
    position: relative;
  }

  #navToggle {
    position: relative;
    display: inline-block;
    #toggleBtn {
      border: none;
      background-color: var(--bg-light);
      border-radius: 100%;
      cursor: pointer;
    }
    #toggleBtn img {
      width: 20px;
    }
  }
  .sidepanel {
    display: none;
    position: absolute;
    z-index: 1;
    right: -10px;
    width: 100vw;
    max-width: 180px;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    a {
      display: block;
      text-decoration: none;
      color: var(--bg-light);
      margin: 0 20px 10px 0;
      padding: 10px;
    }
    a:active {
      background-color: var(--bg-light);
      color: black;
    }
    .small-screen {
      display: none;
    }
  }
}

/* Popup (or) Modal */
#popupContainer {
  #backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-transparent);
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 500px;
    padding: 20px;
    color: var(--bg-light);
    background-color: var(--bg2);
    z-index: 3;
  }
  .popup {
    button {
      width: 100%;
      margin-top: 10px;
    }
  }
}

#uidInstruction, #pwdInstruction1, #pwdInstruction2 {
  color: black;
}

/* .passchange, #splPassword {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 600px;
}
.passchange label {
  display: block;
}
.passchange button, #splPassword button {
  margin-top: 10px;
  width: 100%;
}
#changePass {
  display: none;
} */

/* Page content */
.content {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: var(--bg2);
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  #exploreBtn {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
  }
}
.explore {
  text-align: center;
  #categoryList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    .categoryCard {
      flex: 0 0 auto;
      margin-right: 10px;
      padding: 40px 0;
      width: 100px;
      aspect-ratio: 1/1;
      color: var(--bg-light);
      cursor: pointer;
    }
  }
}

.profile {
  #profile-content {
    position: relative;
  }
  #folder-toggle {
    display: flex;
    gap: 10px;
    border: 1px solid var(--bg-light);
    padding: 10px;
    margin-left: auto;
    width: fit-content;
  }
  .selectedFolder {
    border: 2px solid var(--bg-light);
    border-radius: 50%;
    padding: 2px;
  }
}

/* Album view */
.album-view {
  .gallery .images {
    gap: 10px;
    columns: 5 340px;
    img{
      width: 100%;
    }
  }
  .card {
    position: relative;
    .imgBtns {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 30px;
      a img{
        padding: 5px;
        margin-bottom: -5px;
        background-color: var(--bg-light);
        width: 30px;
        cursor: pointer;
      }
    }
  }
}

#categorySelect li {
  list-style-type: none;
  display: inline-flex;
  margin: 5px;
  padding: 0 5px;
  border: 1px solid rgb(50, 205, 94);
  cursor: pointer;
  input {
    position: relative;
    bottom: 2px;
    cursor: pointer;
  }
}

.selected-category-list-item {
  background-color: #159957;
}

#messageField {
  display: none;
  position: absolute;
  width: calc(100% - 10px);
  max-width: 400px;
  padding: 10px;
  text-align: center;
  border:2px solid rgb(255, 149, 167);
  background-color: rgb(255, 218, 224);
  color: rgb(251, 13, 52);
  z-index: 3;
}